<div class="home">
    <div class="home-card">
      <div class="home-title">
        <p class="home-title-ht1">sobre</p>
        <p class="home-title-ht2">conversor de moneda</p>
      </div>
      <div class="home-body">
        <h2 class="home-subtitle">¿Cómo está desarrollado?</h2>
        <p class="home-text">
          Utiliza angular y lazy loading
        </p>
        <h2 class="home-subtitle">¿tiene servicios?</h2>
        <p class="home-text">
          Si. Para las funciones de solicitud de los datos y cálculo. Así como la asignación a las variables amount y lista-divisas
        </p>
        <h2 class="home-subtitle">¿Utiliza tipado de variables?</h2>
        <p class="home-text">
          Si. El objeto principal tiene cuatro propiedades para la moneda base la fecha y el importe más una array de objetos con tres propiedades: La divisa, el cambio actual y el importe resultante.
        </p>
        <h2 class="home-subtitle">¿Qué url utiliza para solicitar los datos?</h2>
        <p class="home-text">
          la ruta tiene al final una variable de 3 caracteres para indicar la moneda base. la url es: 'https://api.vatcomply.com/rates?base=EUR'.
        </p>
      </div>
    </div>
  </div>