<div class="home">
  <div class="home-card">
    <div class="home-title">
      <p class="home-title-ht1">Bienvenido a</p>
      <p class="home-title-ht2">conversor de moneda</p>
    </div>
    <div class="home-body">
      <h2 class="home-subtitle">¿Cómo funciona?</h2>
      <p class="home-text">
        Debes introducir una cantidad de la moneda base y pulsar el botón
        [send]. Puedes cambiar de divisa haciendo clic sobre cada divisa
      </p>
      <h2 class="home-subtitle">¿Para qué puedo usar el cambio de divisa?</h2>
      <p class="home-text">
        Para conocer de forma aproximada el precio en tu moneda local de
        productos en otra momeda.
      </p>
      <h2 class="home-subtitle">¿Los precios son exactos?</h2>
      <p class="home-text">
        No. Esta web sólo es un servicio aproximado y cada día pueden cambiar
        los ratios.
      </p>
      <h2 class="home-subtitle">¿El precio final puede variar?</h2>
      <p class="home-text">
        Si. A menudo las webs añaden un margen al precio de venta.
      </p>
    </div>
  </div>
</div>
