.gallery {
  width: 80%;
  margin: 0px auto;
}
.info {
  font-size: 15px;
  font-weight: 600;
  padding: 30px;
  text-align: center;
}
.btn {
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 50%;
  text-align: center;
}
.btn:hover{
  background-color: lightgreen
}
.table {
  width: 80%;
  margin: 0px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 170px 150px 150px;
  align-items: center;
  justify-items: center;
  margin-bottom: 5px;
}
