<div class="gallery">
    <div class="info">
        base: {{miobjeto.base}}   date: {{miobjeto.date}}   amount: {{miobjeto.amount}}
    </div>

    <div class="table">
        <div>Divisa</div>
        <div>ratio</div>
        <div>cambio
        </div>
    </div> 

    <ng-container  *ngFor="let item of miobjeto.divisas" >
        <div class="table">
            <div (click)="otraDivisa(item.divisa)" class="btn">            
                {{item.divisa}}   
            </div>
            <div>
                {{item.rate| number : '1.4-4'}} 
            </div>
            <div>
                {{item.change| number : '1.2-2'}}
            </div>
        </div> 
    </ng-container>
</div>


